.container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 15px 20px;
  border-radius: 15px;
  gap: 10px;
  align-items: stretch;
}

.container .hr {
  background-color: var(--text);
  height: 2px;
  border-radius: 2px;
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.key {
  margin-block: 0;
  margin: 0;
  padding: 2px;
  background-color: var(--accent);
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 1000000px;
  text-align: center;
  align-items: center;
  vertical-align: bottom;
  display: inline-block;
  line-height: 30px;
}

.aliases::before + .aliases::after {
  content: ",";
}

.aliases {
  display: flex;
  align-items: center;
  gap: 15px;
}

.alias {
  display: flex;
  opacity: 0.8;
}